* {
  font-family: 'Verdana';
}

body {
  background-color:  #21404A;
}

div, h1, body, html, p {
  padding: 0px;
  margin: 0px;
}

div.page-section {
  min-height: 300px;
  width: 100%;
  color: #E6EDF0;
  background-color: #21404A;
}

div.page-section.bio {
  background-color: #E6EDF0;
  color: #21404A;
  background-image: url(images/rainy_cat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -100px;
  height: 350px;
  opacity: .8;
}

.page-section.bio p {
  padding-bottom: 20px;
}

.page-section.bio h1 {
  padding-top: 20px;
}


#highlight {
  background-color: rgba(0,0,0,.6);
  color: #fff;
  top:50px;
  position: relative;
}

h1 {
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  opacity: .9;
}

p {
  text-align: center;
  font-size: 17px;
}
